<div class="container mt-5">
    <div class="card shadow-sm h-100">
        <%= image_tag("https://image.tmdb.org/t/p/w1280/#{@movie_facade.movie.backdrop_path}", class: "card-img-top crop", alt: "No Image") %>
        <div class="card-body">
            <h2 class="card-title">
                <%= image_tag("https://image.tmdb.org/t/p/w92/#{@movie_facade.movie.poster_path}", class: "title-poster")%>
                <%= @movie_facade.movie.title %>
                <small class="text-muted"><%= @movie_facade.movie.year %></small>
            </h2>
            <h6 class="card-subtitle mb-2 text-muted">
                <%= @movie_facade.movie.release_date %>
            </h6>
            <p>
                Description: <%= @movie_facade.movie.overview %>
            </p>
            <p>
                Director:    <%= @movie_facade.movie.director %>
            </p>
        </div>
    </div>
    
    
    
    <%= render partial: 'vote', locals: { vote_counter: @movie_facade.vote_counter } %>
</div>