<div class="container">
    <p>
        <%= @movie.title %>
    </p>
    <p>
        <%= @movie.director %>
    </p>
    <p>
        <%= @movie.release_date %>
    </p>
    <p>
        <%= @movie.overview %>
    </p>
    
    
    <%= render partial: 'vote', locals: {movie: @movie} %>
</div>