<div class="container">
    <p>
        <%= @movie_facade.movie.title %>
    </p>
    <p>
        <%= @movie_facade.movie.director %>
    </p>
    <p>
        <%= @movie_facade.movie.release_date %>
    </p>
    <p>
        <%= @movie_facade.movie.overview %>
    </p>
    
    
    <%= render partial: 'vote', locals: { vote_counter: @movie_facade.vote_counter } %>
</div>